h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	line-height: 1.5;
	font-size: 3rem;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.4rem;
}

/* TITLE */

#title{
	background: #009e05;
	color: white;
	min-width: 720px;
	overflow: hidden;
}

.container-fluid {
	margin: 2% 7%;
}
#E.T.I{
	width: 30%;
	transform: rotate(25deg);
	position: absolute;
	padding: 0.5;
}
.E.T.I-image {
	position: center;
}


/* NAVBAR */

.navbar {
	margin: 0 0 2rem;
}

.navbar-brand {
	font-size: 2rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.nav-item {
	margin: 0 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

/* FEATURES */

#Aboutus {
	text-align: center;
	padding: 10vw 0;
	background: white;
	position: relative;
	z-index: 1;
}

#Aboutus p {
	color: #8f8f8f;
	font-size: 1.2rem;
	margin: 0 3vw;
}

#Aboutus h3 {
	font-style: 'Montserrat', sans-serif;
	font-weight: bold;
}

#Aboutus i {
	color: #009e05;
	font-size: 4rem;
	margin-bottom: 1vw;
}
#Aboutus i:hover {
	color: #4ead00;
}

.features-group {
	margin-bottom: 3vw;
}

/* Pictures */

#Pictures {
	text-align: center;
	background: #009e05;
	padding-bottom: 3vw;
}

.Pictures-logo {
	width: 40%;
	margin: 40px 40px 50px;
}

/* Contact us*/
#footer {
	text-align: center;
	color: #8f8f8f;
	padding: 5%;
}

#footer i {
	margin: 0 1% 2% 1%;
	color: black;
}